<h1>Edit To Do List</h1>
<form class="form" action="#">
  <p class="lead">
    New todo item:
  </p>
  <div class="input-group input-group-lg">
    <input type="text" class="form-control" name="newtodoitem" placeholder="Todo Item" aria-describedby="sizing-addon1" />
  </div>
  <br />
  <div class="input-group input-group-lg">
    <a class="btn btn-primary" href="#">Back</a>
    &nbsp;
    <input class="btn btn-primary" type="submit" value="Submit" />
  </div>
</form>
